*{font-family: 'Montserrat', sans-serif;}

.const-sect{height:100% !important;}
.const-cont{
    position: relative;
    height: 100vh !important;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}
.const-cont2{
    padding: 6rem 0 5rem !important;
    margin-top: 15em !important;
}
.const-row{
    height: 25vh !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.const-col{
    height:50%;
    margin-top: 6.25vh;
    margin-bottom: 6.25vh;
}
.const-title{
    font-size: 2.4em !important;
    text-align: center;
    font-weight: bold;
}
.const-desc{
    font-size: 1.2em !important;
    font-weight: bold;
    text-align: center;
    padding: 20px !important;
}