.footerContainer{
  background-color: #131313;
  padding: 4rem 0 2rem 0;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  bottom: 0;
}
.footerLinks {
  width: 95%;
  justify-content: center;
}
.mediaLogo {
  color: #be9e44;
  margin-top: 5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.footerWrapper {
  justify-content: center;
  height: 7rem;
}
.footerWrapperRow{
  height: 100%;
}
.footerLinkItems {
  margin: 16px;
  text-align: center;
}
.footerLinkItems h2 {
  margin-bottom: 16px;
  color: #be9e44;
}
.footerLinkItems a{
  color: #be9e44;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footerLinkItems a:hover {
  color: #8b6d1b;
  transition: 0.2s ease-out;
}
.footerLinkCC{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.copyRight {
  color: #be9e44;
  margin-bottom: 16px;
}