.navbar-brand{
    color: #fff !important;
    font-size: xx-large !important;
  }
  
  .navbar-light .navbar-nav .nav-link{
    font-size: x-large !important;
    color: #fff !important;
  }
  
  .sticky {
    background-color: #fff !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
  }
    
  .navbar {
    position: fixed !important;
    background-color: transparent !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
  }
  
  .navbar-toggler {
    padding: 0.25rem 1.5rem !important;
    position: relative !important;
    background-color: #fffdd0 !important;
    border-color: transparent !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
      background-color: #252525 !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  
  .navbar-brand {
    color: #fff !important;
    padding: 0px 20px 0px 20px;
  }
  